{% comment %}
  Shopify Wishlist
  Usage:
    - Markup: {%- render 'button-wishlist', product: product -%}
    - Place this snippet inside your existing product card snippet

  Parameters:
    - product: <Shopify product> (required)
{% endcomment %}
{%- if product.handle != blank -%}
  <button type="button" aria-label="Add to wishlist" class="" button-wishlist data-product-handle="{{ product.handle }}" style="border: none; background: transparent; padding: 0; margin: 0; cursor: pointer;">
    <style scoped>
      .icon-heart #SVGRepo_iconCarrier path {
        fill: #fff;
        stroke: #000000;
        transition: fill 0.3s ease;
      }

      .active .icon-heart #SVGRepo_iconCarrier path{
        fill: red;
        stroke: #000000;
      }
    </style>
    {%- render 'icon-heart' -%}
  </button>
{%- endif -%}